{% extends "layout.html.twig" %}

{% block content %}
    <h1>Posts from <i class="fa fa-inbox"></i> {{ category }}</h1>
    {% include 'posts.html.twig' %}
{% endblock %}

{% block title %}
    {{ category }}
    {% if pagination is defined and pagination.page > 1 %}
        - page {{ pagination.page }} -
    {% endif %}
{% endblock %}
