{% extends "layout.html.twig" %}

{% block content %}
<article>
    <h1>{{ post.title }}</h1>
    <div class="content-block">
        <aside class="aside aside--right">
            {% include 'aside.html.twig' %}
        </aside>
    </div>
    {{ post.html()|raw }}
</article>
{% endblock %}